@import "normalize.sass"
@import "friends/friends.stylesheet.sass"

.body-wrapper
    position: relative

.nav
    background-color: #fff
    bottom: 0
    padding-top: 15px
    position: fixed
    width: 100%